.box{
    height: 81px;
    background-color: #4682B4;
    border: 1px solid black;
}

.box-on{
    background-color: #E0FFFF;
}

.box-in{
    background-color: #ADD8E6;
}

.box-in, .box-on, .box-bl{
    display: flex;
    justify-content: center;
    height: 81px;
}

.box-in i, .box-on i{
    font-size: 3rem;
    line-height: 81px;
}

.box-bl{
    background-color: black;
    border: 1px solid white;
    color: white;
    line-height: 81px;
}

.col-blu{
    color: #4682B4;
}
